# [Indexing and selecting data](https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html)

In [1]:
import numpy as np
import pandas as pd

In [2]:
dates = pd.date_range('1/1/2000', periods=8)
df = pd.DataFrame(np.random.randn(8, 4),
                  index=dates,
                  columns=['A', 'B', 'C', 'D'])

In [3]:
dates

DatetimeIndex(['2000-01-01', '2000-01-02', '2000-01-03', '2000-01-04',
               '2000-01-05', '2000-01-06', '2000-01-07', '2000-01-08'],
              dtype='datetime64[ns]', freq='D')

In [4]:
df

                   A         B         C         D
2000-01-01  1.393043 -1.702442 -0.946385 -0.140273
2000-01-02  1.835320 -0.148148 -0.949181 -0.266874
2000-01-03 -0.222425  0.691385 -0.659568  0.743033
2000-01-04  0.166289  2.311138 -0.663960  0.500369
2000-01-05  0.916759 -1.245748  0.777046  0.185377
2000-01-06  0.628330  0.826065  0.470527  0.950232
2000-01-07  0.016556  0.259375  0.778317 -1.506371
2000-01-08 -0.457795  0.082175 -1.119219  0.909651

In [8]:
s = df['A']
s

2000-01-01    1.393043
2000-01-02    1.835320
2000-01-03   -0.222425
2000-01-04    0.166289
2000-01-05    0.916759
2000-01-06    0.628330
2000-01-07    0.016556
2000-01-08   -0.457795
Freq: D, Name: A, dtype: float64

In [6]:
s[dates[5]]

0.6283300119423804

In [9]:
df[['A', 'B']].to_numpy()

array([[ 1.39304268, -1.70244237],
       [ 1.83532035, -0.14814787],
       [-0.22242498,  0.69138452],
       [ 0.16628855,  2.31113776],
       [ 0.91675887, -1.24574845],
       [ 0.62833001,  0.82606461],
       [ 0.01655571,  0.25937488],
       [-0.45779465,  0.08217478]])

In [20]:
df.loc[:, ['B', 'A']] = df[['A', 'B']].to_numpy()
df

                   A         B         C         D
2000-01-01 -1.702442  1.393043 -0.946385 -0.140273
2000-01-02 -0.148148  1.835320 -0.949181 -0.266874
2000-01-03  0.691385 -0.222425 -0.659568  0.743033
2000-01-04  2.311138  0.166289 -0.663960  0.500369
2000-01-05 -1.245748  0.916759  0.777046  0.185377
2000-01-06  0.826065  0.628330  0.470527  0.950232
2000-01-07  0.259375  0.016556  0.778317 -1.506371
2000-01-08  0.082175 -0.457795 -1.119219  0.909651

In [21]:
df

                   A         B         C         D
2000-01-01 -1.702442  1.393043 -0.946385 -0.140273
2000-01-02 -0.148148  1.835320 -0.949181 -0.266874
2000-01-03  0.691385 -0.222425 -0.659568  0.743033
2000-01-04  2.311138  0.166289 -0.663960  0.500369
2000-01-05 -1.245748  0.916759  0.777046  0.185377
2000-01-06  0.826065  0.628330  0.470527  0.950232
2000-01-07  0.259375  0.016556  0.778317 -1.506371
2000-01-08  0.082175 -0.457795 -1.119219  0.909651