# [pandas.DataFrame.agg](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.agg.html?highlight=agg#pandas.DataFrame.agg)

```
DataFrame.agg(self, func, axis=0, *args, **kwargs)
```

In [4]:
import pandas as pd
import numpy as np

In [5]:
df = pd.DataFrame([[1, 2, 3],
                   [4, 5, 6],
                   [7, 8, 9],
                   [np.nan, np.nan, np.nan]],
                  columns=['A', 'B', 'C'])

In [6]:
df

     A    B    C
0  1.0  2.0  3.0
1  4.0  5.0  6.0
2  7.0  8.0  9.0
3  NaN  NaN  NaN

In [7]:
df.agg(['sum', 'min'])  # axis=0, 以index做为操作对象

        A     B     C
sum  12.0  15.0  18.0
min   1.0   2.0   3.0

In [8]:
df.agg({'A' : ['sum', 'min'], 'B' : ['min', 'max']})  # 第一列执行不同的函数

        A    B
max   NaN  8.0
min   1.0  2.0
sum  12.0  NaN